/* Google Web Font */
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

/* Fontawesome 4.7 */
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

body {
  font-family: '메이플스토리', sans-serif;
  margin: 0;
  color: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}
a {
  text-decoration: none;
  color: #222;
}
.content img{
  width: 1280px;
  height: 720px;
}
.tab-inner{
  border: 3px solid red;
  width: 1280px;
  height: 770px;
  position: relative;
}
input[name=tabmenu]{
  display: none;
}
.content{
  display: none;
}
.btn{
  position: absolute;
  /* border: 1px solid black; */
  bottom: 10px;
  width: 100%;
  text-align: center;
}
.btn label{
  width: 20px;
  height: 20px;
  display: inline-block;
  background-color: #ccc;
  border-radius: 50%;
  cursor: pointer;
}
input[id=tab1]:checked~.slide1{
  display: block;
}
input[id=tab2]:checked~.slide2{
  display: block;
}
input[id=tab3]:checked~.slide3{
  display: block;
}
input[id=tab1]:checked~.btn label[for=tab1]{
  background-color: crimson;
}
input[id=tab2]:checked~.btn label[for=tab2]{
  background-color: crimson;
}
input[id=tab3]:checked~.btn label[for=tab3]{
  background-color: crimson;
}