/* Google Web Font */
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

/* Fontawesome 4.7 */
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

body {
  font-family: '메이플스토리', sans-serif;
  margin: 0;
  color: #222;
}
a {
  text-decoration: none;
  color: #222;
}
